body {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.5;
}

h2 {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.5;
}

h3 {
    font-weight: 900;
}

/* Nav */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1rem;
}

/* Title */

#title {
    background-color: #FF4C68;
    color: white;
}

#title .col-lg-6 {
    padding: 5%;
}

#title .btn {
    margin: 5% 3% 5% 0;
}

#title img {
    position: absolute;
    transform: rotate(25deg);
    width: 60%;
}

/* Icons */

i {
    color: #EF8172;
    font-size: 3rem;
}

i:hover {
    color: #FF4C68;
}

/* Features */

#features {
    background-color: white;
    position: relative;
    z-index: 1;
}

#features .col-lg-4 {
    padding: 5%;
}

#features p {
    color: #8F8F8F;
}

/* Testimonials */

#testimonials {
    background-color: #EF8172;
    color: white;
}

#testimonials img {
    width: 15%;
}

/* Pricing */

#pricing .col-lg-6 {
    padding: 5%;
}

/* Footer */

#footer {
    background-color: #FF4C68;
    color: white;
}
